.login-page {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.login-main {
    width: 500px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.login-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.login-title {
    text-align: center;
    margin: 1rem;
}

.login-form, .login-mockup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-content {
    width: 300px;
    border: 1px solid #cccccc;
    height: 40px;
    margin: 10px;
    align-items: center;
    display: flex;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0;

}

.login-content > input {
    padding: 10px;
    display: flex;
    align-items: center;
    
}

.login-ctn {
    background-color: #5AAC44;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5AAC44;
    font-weight: 600;
    cursor: pointer;
}

.login-mockup-content {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: rgba(0,0,0,0.54);
    box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0;
    text-align: center;
    border-radius: 3px;
    display: block;
}

.login-mockup-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    color: #505f79;
    padding: 3px;
    height: 32px;
    line-height: 32px;
}

#google-icon {
    background: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/8215f6659adc202403198fef903a447e/sign-in-with-google.svg) 0 50% no-repeat;
}

#ms-icon {
    background: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/72ece804e5285ab6507e2406157cda3c/microsoft-logo.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: -5px;
}

#apple-icon {
    background: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/6fc4ecf05a97cfb43cfcbb14738a5aa0/apple-logo-black.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: -3px;
}

#slack-icon {
    background: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/267584bf90783090ede8f337d9baf909/slack-logo.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: -5px;
}

.icon {
    display: inline-block;
    border-radius: 1px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.login-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    
}

.login-bottom-wrapper {
    width: 300px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
}

.login-err {
    font-size: 10px;
    color: red;
    font-weight: 500;
}
